if SHIELD_SOFLE_DONGLE

config ZMK_KEYBOARD_NAME
    default "Sofle Dongle"
config ZMK_SPLIT
    default y
config ZMK_SPLIT_BLE
    default y
config ZMK_SPLIT_ROLE_CENTRAL
    default y
config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 2  # Две половинки (left и right)
config BT_MAX_CONN
    default 7  # 2 peripherals + до 5 устройств (ПК, телефон и т.д.)
config BT_MAX_PAIRED
    default 7
config ZMK_KSCAN_MOCK
    default y

endif